{% extends 'base.html.twig' %}

{% block title %}Se connecter
{% endblock %}

{% block body %}
	<h3 class="header center orange-text">Se connecter</h3>
	<div class="row">
		<div class="col s12 m4 offset-m4">
			<form method="post">
				{% if error %}
					<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
				{% endif %}

				{% if app.user %}
					<div class="mb-3">
						Vous êtes loggé en tant que
						{{ app.user.username }},
						<a href="{{ path('app_logout') }}">Se déconnecter</a>
					</div>
				{% endif %}
				<div class="input-field">
					<label for="inputEmail">Email</label>
					<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="validate" required autofocus>
				</div>
				<div class="input-field">
					<label for="inputPassword">Password</label>
					<input type="password" name="password" id="inputPassword" class="validate" required>
					<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
				</div>
				<div>
					<label>
						<input type="checkbox" name="_remember_me">
						<span>Se souvenir de moi</span>
					</label>
				</div>
				<div class="form-field center">
					<button class="btn" type="submit">
						Connexion
					</button>
				</div>
			</form>
			<div class="row">
				<div class="section center">
					<a href="{{path('app_register')}}">
						Créer un compte
					</a>
				</div>
			</div>

		</div>
	</div>
{% endblock %}
