{% extends 'base.html.twig' %}

{% block title %}Inscription
{% endblock %}

{% block body %}
	{% for flashError in app.flashes('verify_email_error') %}
		<div class="alert alert-danger" role="alert">{{ flashError }}</div>
	{% endfor %}
	<div class="row center">
		<a href="{{path('index')}}">
			<img src="img/logo.png" alt="Logo BCP">
		</a>
	</div>
	<div class="row">
		<div class="col s12 m4 offset-m4">
			{{ form_start(registrationForm) }}
			{{ form_row(registrationForm.firstName) }}
			{{ form_row(registrationForm.lastName) }}
			{{ form_row(registrationForm.email) }}
			{{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
			<div class="row">
				<label>
					{{ form_widget(registrationForm.agreeTerms) }}
					<span>{{ form_label(registrationForm.agreeTerms) }}</span>
				</label>
			</div>
			<div class="center">
				<button type="submit" class="btn">Inscription</button>
			</div>
			<fieldset class="candy">
				{{ form_widget(registrationForm.phone) }}
			</fieldset>
			<fieldset class="candy">
				{{ form_row(registrationForm.city) }}
			</fieldset>
				{{ form_end(registrationForm) }}
		</div>
	</div>
	<div class="row">
		<div class="section center">
			<a href="{{path('app_login')}}">
				Se connecter
			</a>
			-
			<a href="{{path('app_forgot_password_request')}}">
				Mot de passe oublié
			</a>
		</div>
	</div>

{% endblock %}
