{% extends 'base.html.twig' %}

{% block title %}Reset du mot de passe
{% endblock %}

{% block body %}
	<div class="row center">
		<a href="{{path('index')}}">
			<img src="{{asset('img/logo.png')}}" alt="Logo BCP">
		</a>
	</div>
	<h4 class="header center orange-text">Reset du mot de passe</h4>
	<div class="row">
		<div class="col s12 m4 offset-m4">
			{{ form_start(resetForm) }}
			{{ form_row(resetForm.plainPassword) }}
			<div class="row center">
				<button class="btn">Reset du mot de passe</button>
			</div>
			{{ form_end(resetForm) }}
		</div>
	</div>
{% endblock %}
